@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap');

/* Chiq Reduced Font by ingoFonts is free for personal use (https://www.dafont.com/chiq.font) */
@font-face {
    font-family: "chiq";
    src:
        url("Fonts/chiq_reduced_bold-webfont.woff2") format("woff2"),
        url("Fonts/chiq_reduced_bold-webfont.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --img-sidebar-width: 35vw;
    --brand-area-height: 8rem;
}

h3 {
    margin: 0.75rem 0rem;
}

.container {
    display: flex;
}

/* image sidebar */
.img-sidebar {
    background-image: url("Images/syuhei-inoue-kaoHI0iHJPM-unsplash.jpg");
    background-size: cover;
    width: var(--img-sidebar-width);
    min-height: 100vh;
}

.brand-area,
.brand-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.brand-area {
    background-color: rgba(7, 25, 29, 0.55); /* changes the opacity of bg but not the text */
    position: relative;
    width: 100%;
    top: calc(100vh/3 - var(--brand-area-height));
    height: var(--brand-area-height);
}

.brand-content {
    gap: 1rem;
    display: flex;
    flex-wrap: wrap;
}

.brand-item {
    font-family: "chiq";
    font-size: 3rem;
    display: flex;
}


.brand-logo {
    height: 90px;
    width: 90px;
}

/* white text */
.photo-credits,
.white-text,
.brand-item {
    color: white;
}

.credits-container {
    display: flex;
    justify-content: center;
    font-size: 0.75rem;
}

.photo-credits {
    position: absolute;
    bottom: 1rem;
}

/* form-side */
.form-side {
    width: calc(100vw - var(--img-sidebar-width));
    min-height: 100vh;
}

.top,
.middle,
.bottom {
    padding-left: 3rem;
    min-height: calc(100vh/3);
}

/* top */
p {
    font-weight: normal;
}

.top {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* form flex boxes */
/* middle */
.middle {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    box-shadow: 3px 5px 10px #dadbdc;
    /* show the box-shadow but don't go over the 100vh/3 space */
    margin-bottom: 10px;
    margin-top: -10px;
}

.middle-h3 {
    margin: 1.5rem 0rem;
}

.form-row {
    display: flex;
    /* wrap the input text, give form input horizontal spacing */
    flex-wrap: wrap;
    column-gap: 4rem;
}

/* form labels */
label {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.75rem;
    display: flex;
    font-weight: 500;
}

/* bottom */
.bottom {
    display: flex;
    flex-direction: column;
}

/* button */
button {
    background-color: #35752a;
    color: white;
    font-size: 0.9rem;
    font-weight: bold;
    border: none;
    cursor: pointer;
    padding: 0.75rem;
    width: 12rem;
    border-radius: 5px;
    /* space between the middle div and the last line */
    margin: 1.5rem 0rem;
    box-shadow: 4px 4px 4px 0px #d1d2d1;
}

/* input */
input {
    border: 1px solid #E5E7EB;
    border-radius: 5px;
    padding: 5px;
    width: 12rem;
    /* form input vertical spacing */
    margin-bottom: 1.5rem;
}

input:focus {
    /* gets rid of the default black outline */
    outline: none;
    border: 1px solid #2d5adb;
    box-shadow: 2px 1px 4px 0px #d1d1d1;
}

/* colors */
.top,
.bottom {
    background-color: #f9fafb;
}

.log-in-link {
    font-weight: bold;
    text-decoration: none;
    color: #35752a;
}